doctype html
html(lang='en')

    head

        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='')
        meta(name='author', content='')

        title DS Professional Services

        // Favicon
        link(rel='icon', type='image/x-icon', href='assets/favicon.ico')

        // Font Awesome icons (free version)
        script(src='https://use.fontawesome.com/releases/v6.3.0/js/all.js', crossorigin='anonymous')

        // Google fonts
        link(href='https://fonts.googleapis.com/css?family=Montserrat:400,700', rel='stylesheet', type='text/css')
        link(href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700', rel='stylesheet', type='text/css')

        // Core theme CSS (includes Bootstrap)
        link(href='css/styles.css', rel='stylesheet')

    body#page-top

        // Navigation
        nav#mainNav.navbar.navbar-expand-lg.navbar-dark.fixed-top
            .container
                a.navbar-brand(href='#page-top')
                     img(src='assets/img/logo.jpg', alt='...', style='width: 64px; height: 64px; object-fit: contain;')
                button.navbar-toggler(type='button', data-bs-toggle='collapse', data-bs-target='#navbarResponsive', aria-controls='navbarResponsive', aria-expanded='false', aria-label='Toggle navigation')
                    | Menu
                    i.fas.fa-bars.ms-1
                #navbarResponsive.collapse.navbar-collapse
                    ul.navbar-nav.text-uppercase.ms-auto.py-4.py-lg-0
                        li.nav-item
                            a.nav-link(href='#services') Services

                        li.nav-item
                            a.nav-link(href='#about') About
                        li.nav-item
                            a.nav-link(href='#team') Awards
                        li.nav-item
                            a.nav-link(href='#contact') Contact
        // Masthead
        header.masthead
            .container
                .masthead-subheading Welcome to DS Professional Services!
                .masthead-heading.text-uppercase EXPERT BUSINESS CONSULTANTS
                a.btn.btn-primary.btn-xl.text-uppercase.rounded-pill.shadow-lg(href='#services') Discover

        // Services
        section#services.page-section
          .container
    .text-center
        h2.section-heading.text-uppercase.pb-5 Services
    .row.text-center

    .text-center
        .row.d-flex.justify-content-center.align-items-center.text-center
            .col-md-3
                span.fa-stack.fa-4x
                    i.fas.fa-circle.fa-stack-2x.text-primary
                    i.fas.fa-building.fa-stack-1x.fa-inverse
                h4.my-3 Audit
                p.text-muted
                            | Ensuring compliance with applicable IFRS, IAS, and Audit standards.

            .col-md-3
                span.fa-stack.fa-4x
                    i.fas.fa-circle.fa-stack-2x.text-primary
                    i.fas.fa-university.fa-stack-1x.fa-inverse
                h4.my-3 Taxation
                p.text-muted
                  |  Expert tax planning and compliance solutions to optimize savings.

            .col-md-3
                span.fa-stack.fa-4x
                    i.fas.fa-circle.fa-stack-2x.text-primary
                    i.fas.fa-book.fa-stack-1x.fa-inverse
                h4.my-3  Accounting
                p.text-muted
                   |  Accurate bookkeeping and financial reporting for business success.

        .row.justify-content-center.text-center.mt-4
            .col-md-10.w-2
            span.fa-stack.fa-4x
                i.fas.fa-circle.fa-stack-2x.text-primary
                i.fas.fa-area-chart.fa-stack-1x.fa-inverse
            h4.my-3 Financial Advisory
            p.text-muted
                | Strategic financial guidance to drive growth and long-term stability.

        // About
        section#about.page-section
            .container
                .text-center
                    h2.section-heading.text-uppercase About
                    h3.section-subheading.text-muted
                ul.timeline
                    li
                        .timeline-image
                            img.rounded-circle.img-fluid(src='assets/img/about/1.jpg', alt='...')
                        .timeline-panel
                            .timeline-heading
                                h4 2016
                                h4.subheading Our Humble Beginnings
                            .timeline-body
                                p.text-muted
                                    | Registered the business in 2016 and began serving client .
                    li.timeline-inverted
                        .timeline-image
                            img.rounded-circle.img-fluid(src='assets/img/about/2.jpg', alt='...')
                        .timeline-panel
                            .timeline-heading
                                h4 2019
                                h4.subheading Milestone Achievement
                            .timeline-body
                                p.text-muted
                                    | Served 50+ businesses, delivering top-tier Audit, Advisory and Tax services.
                    li.timeline
                        .timeline-image
                            img.rounded-circle.img-fluid(src='assets/img/about/3.jpg', alt='...')
                        .timeline-panel
                            .timeline-heading
                                h4 2025+
                                h4.subheading Industry Leadership
                            .timeline-body
                                p.text-muted
                                    | Strengthening our position as a key player in our industry, and a top choice for clients seeking great value.
                    li.timeline-inverted
                        .timeline-image
                            h4
                                | Ready to
                                br
                                | Unlock
                                br
                                | Value!




        section#team.page-section.bg-light
          h2.section-heading.text-uppercase.pb-5 AWARDS <i class="fa fa-trophy" aria-hidden="true"></i>
            .row.text-center
          div.team__format-container
            div.ag-courses-item_link
              div.ag-courses-item_bg
              div.ag-courses-item_title Tax Planning Firm of the Year in Nigeria (2017)
              div.ag-courses-item_date-box
                | 2018:
                span.ag-courses-item_date Finance Monthly Taxation Awards

              div.ag-courses_item
            div.ag-courses-item_link
              div.ag-courses-item_bg
              div.ag-courses-item_title  Tax Planning Firm of the Year in Nigeria (2017)
              div.ag-courses-item_date-box
                | 2018:
                span.ag-courses-item_date Private Clients Awards 

              div.ag-courses_item
            div.ag-courses-item_link
              div.ag-courses-item_bg
              div.ag-courses-item_title Tax Law Firm of the Year in Nigeria (2017)
              div.ag-courses-item_date-box
                | 2018:
                span.ag-courses-item_date  Finance Monthly Law Awards

              div.ag-courses_item
            div.ag-courses-item_link
              div.ag-courses-item_bg
              div.ag-courses-item_title Nomination for Volunteer Consultant of the Year (2017)
              div.ag-courses-item_date-box
                | 
                span.ag-courses-item_date FATE Foundation

              div.ag-courses_item
          


        // Clients
        div.py-5.overflow-hidden
            div
                div.marquee
                    .marquee-content
                        .col-md-3.col-sm-6.my-3
                            a(href='#!')
                                img.img-fluid.img-brand.d-block.mx-auto(src='assets/img/logos/1.png', alt='...', aria-label='Microsoft Logo')
                        .col-md-3.col-sm-6.my-3
                            a(href='#!')
                                img.img-fluid.img-brand.d-block.mx-auto(src='assets/img/logos/2.png', alt='...', aria-label='Google Logo')
                        .col-md-3.col-sm-6.my-3
                            a(href='#!')
                                img.img-fluid.img-brand.d-block.mx-auto(src='assets/img/logos/3.png', alt='...', aria-label='Facebook Logo')
                        .col-md-3.col-sm-6.my-3
                            a(href='#!')
                                img.img-fluid.img-brand.d-block.mx-auto(src='assets/img/logos/4.png', alt='...', aria-label='IBM Logo')
                        .col-md-3.col-sm-6.my-3
                            a(href='#!')
                                img.img-fluid.img-brand.d-block.mx-auto(src='assets/img/logos/5.png', alt='...', aria-label='Microsoft Logo')
                        .col-md-3.col-sm-6.my-3
                            a(href='#!')
                                img.img-fluid.img-brand.d-block.mx-auto(src='assets/img/logos/6.png', alt='...', aria-label='Google Logo')
                        .col-md-3.col-sm-6.my-3
                            a(href='#!')
                                img.img-fluid.img-brand.d-block.mx-auto(src='assets/img/logos/7.svg', alt='...', aria-label='Facebook Logo')
                        .col-md-3.col-sm-6.my-3
                            a(href='#!')
                                img.img-fluid.img-brand.d-block.mx-auto(src='assets/img/logos/8.png', alt='...', aria-label='IBM Logo')
                        .col-md-3.col-sm-6.my-3
                            a(href='#!')
                                img.img-fluid.img-brand.d-block.mx-auto(src='assets/img/logos/9.png', alt='...', aria-label='Microsoft Logo')
                        .col-md-3.col-sm-6.my-3
                            a(href='#!')
                                img.img-fluid.img-brand.d-block.mx-auto(src='assets/img/logos/10.png', alt='...', aria-label='Google Logo')
                        .col-md-3.col-sm-6.my-3
                            a(href='#!')
                                img.img-fluid.img-brand.d-block.mx-auto(src='assets/img/logos/11.png', alt='...', aria-label='Facebook Logo')
                        .col-md-3.col-sm-6.my-3
                            a(href='#!')
                                img.img-fluid.img-brand.d-block.mx-auto(src='assets/img/logos/12.svg',  alt='...', aria-label='IBM Logo')


        // Contact
        //- section#contact.page-section
        //-     .container
        //-         .text-center
        //-             h2.section-heading.text-uppercase Contact Us
        //-         .h3.section-subheading.text-.text-white
        //-             p
        //-                 strong Phone:
        //-                 | +234 123 456 7890
        //-             p
        //-                 strong Email:
        //-                 | info@nigeriancompany.com
        //-             p
        //-                 strong Address:
        //-                 | 123 Lagos Street, Victoria Island, Lagos, Nigeria


        //-         // * * * * * * * * * * * * * * *
        //-         // * * SB Forms Contact Form * *
        //-         // * * * * * * * * * * * * * * *

        //-         // This form is pre-integrated with SB Forms.
        //-         // To make this form functional, sign up at
        //-         // https://startbootstrap.com/solution/contact-forms
        //-         // to get an API token!

        //-         //- form#contactForm(data-sb-form-api-token='API_TOKEN')
        //-             .row.align-items-stretch.mb-5
        //-                 .col-md-6
        //-                     .form-group

        //-                         // Name input
        //-                         input#name.form-control(
        //-                             type='text',
        //-                             placeholder='Your Name *',
        //-                             data-sb-validations='required'
        //-                         )
        //-                         .invalid-feedback(data-sb-feedback='name:required')
        //-                             | A name is required.

        //-                     .form-group

        //-                         // Email address input
        //-                         input#email.form-control(
        //-                             type='email',
        //-                             placeholder='Your Email *',
        //-                             data-sb-validations='required,email'
        //-                         )
        //-                         .invalid-feedback(data-sb-feedback='email:required')
        //-                             | An email is required.
        //-                         .invalid-feedback(data-sb-feedback='email:email')
        //-                             | Email is not valid.

        //-                     .form-group.mb-md-0

        //-                         // Phone number input
        //-                         input#phone.form-control(
        //-                             type='tel',
        //-                             placeholder='Your Phone *',
        //-                             data-sb-validations='required'
        //-                         )
        //-                         .invalid-feedback(data-sb-feedback='phone:required')
        //-                             | A phone number is required.

        //-                 .col-md-6
        //-                     .form-group.form-group-textarea.mb-md-0

        //-                         // Message input
        //-                         textarea#message.form-control(
        //-                             placeholder='Your Message *',
        //-                             data-sb-validations='required'
        //-                         )
        //-                         .invalid-feedback(data-sb-feedback='message:required')
        //-                             | A message is required.

        //-             // Submit success message
        //-             //
        //-             // This is what your users will see when the form
        //-             // has successfully submitted

        //-             #submitSuccessMessage.d-none
        //-                 .text-center.text-white.mb-3
        //-                     .fw-bolder Form submission successful!
        //-                     | To activate this form, sign up at
        //-                     br
        //-                     a(href='https://startbootstrap.com/solution/contact-forms') https://startbootstrap.com/solution/contact-forms

        //-             // Submit error message
        //-             //
        //-             // This is what your users will see when there is
        //-             // an error submitting the form

        //-             #submitErrorMessage.d-none
        //-                 .text-center.text-danger.mb-3 Error sending message!

        //-             // Submit Button
        //-             .text-center
        //-                 button#submitButton.btn.btn-primary.btn-xl.text-uppercase.disabled(type='submit') Send Message

        // Footer



        // Remove the container if you want to extend the Footer to full width.
div.fixed#contact
  // Footer
  footer.text-center.text-lg-start.text-white(style="background-color: #1c2331")
    // Section: Social media
    section.d-flex.justify-content-between.p-4(style="background-color: #1576ba")
      // Left
      div.me-5.container
        | Get connected with us on social networks:
      // Left

      // Right
      div
        //- a.text-white.me-4(href="")
        //-   i.fab.fa-facebook-f
        //- a.text-white.me-4(href="")
        //-   i.fab.fa-twitter
        //- a.text-white.me-4(href="")
        //-   i.fab.fa-google
        //- a.text-white.me-4(href="")
        //-   i.fab.fa-instagram
        a.text-white.me-4(href="https://www.linkedin.com/company/ds-professional-services/?originalSubdomain=ng")
          i.fab.fa-linkedin
        //- a.text-white.me-4(href="")
        //-   i.fab.fa-github
    // Section: Social media

    // Section: Links
    section
      .container.text-center.text-md-start.mt-5
        // Grid row
        .row.mt-3
          // Grid column
          .col-md-3.col-lg-4.col-xl-3.mx-auto.mb-4
            // Content
            h6.text-uppercase.fw-bold DS Professional Services
            hr.mb-4.mt-0.d-inline-block.mx-auto(style="width: 60px; background-color: #1576ba; height: 2px")
            p DS Professional Services is a trusted advisory firm dedicated to delivering expert financial, tax, and business consulting solutions.
          // Grid column

          // Grid column
          .col-md-2.col-lg-2.col-xl-2.mx-auto.mb-4
            // Links

          // Grid column

          // Grid column
          .col-md-3.col-lg-2.col-xl-2.mx-auto.mb-4
            // Links

          // Grid column

          // Grid column
          .col-md-4.col-lg-3.col-xl-3.mx-auto.mb-md-0.mb-4
            // Links
            h6.text-uppercase.fw-bold Contact
            hr.mb-4.mt-0.d-inline-block.mx-auto(style="width: 60px; background-color: #1576ba; height: 2px")
            p
              i.fas.fa-home.mr-3
              | 15A, Sulaimon Adekanmbi Close, Off Jinadu Street, Igbo Efon, Lagos
            p
              i.fas.fa-envelope.mr-3
              |  info@dspsng.com
            p
              i.fas.fa-phone.mr-3
              |  + 234 0703 386 8399
            div.span(style="width: 60px;  height: 70px")
          // Grid column
        // Grid row
    // Section: Links

    // Copyright
    div.text-center.p-3(style="background-color: rgba(0, 0, 0, 0.2)")
      | © 2025 Copyright
      a.text-white(href="")
    // Copyright

