//
// Colors
//

// Override Bootstrap color variables

$orange: #1576ba;

// Override Bootstrap state colors variables

$primary: $orange;

// Override Bootstrap contrast ratio

$min-contrast-ratio: 1.5;
